################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ShortDeckStatistics/obj/Release
/ShortDeckStatistics2.psess
/ShortDeckStatistics181222.vsp
/ShortDeckStatistics181222(2).vsp
/ShortDeckStatistics181222(1).vsp
/ShortDeckStatistics1.psess
/ShortDeckStatistics.psess
