################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ShortDeckStatistics/obj/Release
/ShortDeckStatistics2.psess
/ShortDeckStatistics181222.vsp
/ShortDeckStatistics181222(2).vsp
/ShortDeckStatistics181222(1).vsp
/ShortDeckStatistics1.psess
/ShortDeckStatistics.psess
/.vs/PokerStats/v16/Server/sqlite3
/.vs/PokerStats/v15/Server/sqlite3
/.vs/PokerStats/v16/.suo
/PokerStats/bin/Debug/netcoreapp3.1/PokerStats.runtimeconfig.json
/PokerStats/bin/Debug/netcoreapp3.1/PokerStats.runtimeconfig.dev.json
/PokerStats/bin/Debug/netcoreapp3.1/PokerStats.pdb
/PokerStats/bin/Debug/netcoreapp3.1/PokerStats.exe
/PokerStats/bin/Debug/netcoreapp3.1/PokerStats.dll
/PokerStats/bin/Debug/netcoreapp3.1/PokerStats.deps.json
/PokerStats/obj/Debug/netcoreapp3.1
/PokerStats/obj
/.vs/config/applicationhost.config
/.vs/PokerStats/v15/.suo
